
#body.valid{
    overflow: hidden;
}

section{
    background-attachment: fixed;
    background-size: cover;
    background: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp");
}


#none{
    height: 45em;
    overflow: scroll;
    display: block;
}

.forms img{
    width: 50px;
    border-radius: 5em;
}

.forms h2{
    margin-top: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.forms .mb-5{
    margin-top: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

label,.gender{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}












#none.valid{
    display: block;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.082);
    z-index: 40;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.overlay i{
    margin: 65% 45%;
    font-size: 40px;
    position: fixed;
    
}

#header{
    display: none;
}

#name{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.683);
}

#two button{
    display: none;
}

#overlay.valid{
    display: block;
}

#fname.valid{
    border: 2px solid red;
}

#lname.valid{
    border: 2px solid red;
}

#email.valid{
    border: 2px solid red;
}

#address.valid{
    border: 2px solid red;
}

#pass1.valid{
    border: 2px solid red;
}

#pass2.valid{
    border: 2px solid red;
}

#header.valid{
    display: block;
}


.first{
    background: url(./lionform.webp);
    background-size: cover;
}

#spinner.valid{
    display: none;
}

#continue1.valid{
    display: inline;
    padding: 1em;
    width: 10em;
    font-weight: 900;
}



@media screen and (min-width:600px) {


    .overlay{
        height: 100%;
        width: 51%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.112);
        z-index: 40;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 48.8%;
    }
    
    .overlay i{
        margin: 45% 45%;
        font-size: 40px;
        position: relative;
        
    }

    #modal h1{
        margin: 0% 45%;
        position: fixed;
        transform: translateY(-500px);
    }

    #none{
        height: 45em;
        overflow: scroll;
        display: none;
    }

    section{
        display: block;
    }
}
