body{
    background:url(./bg-01.jpg) rgba(255, 255, 0, 0.203);
    /* background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5)); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    
}

::-webkit-scrollbar{
    display: none;
}


main{
    text-align: center;
    overflow: scroll;
    padding: 2em;
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
   
}

.container{
    background-color: whitesmoke;
    padding: 2em;
    width:100%;
    height: 100%;
    border-radius: .9em;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.436);
    overflow: scroll;
}

.container h1{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1.4em;
    margin-top: 1em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.559);
}

.container input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 1em;
    border-radius: .5em;
    border: none;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.192);
    outline: none;
    position: relative;
}

.container button{
    margin-top: 1em;
    color: whitesmoke;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .8em;
    width: 10em;
    border-radius: 1em;
    border: none;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
}

.icons{
    margin: 12% 28%;
}

.icons i{
    color: rgba(185,0,255,0.5);
    font-size: 1.2em;
    border-radius: 12em;
    margin: .2em;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.119);
}

.container a{
    margin-top: 1em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.495);
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.form-outline .fa-bug {
    font-size: .7em;
    background-color: red;
    padding: .2em;
    border-radius: 3em;
    display: none;
    position: absolute;
    z-index: 20;
    transform: translateX(-30px) translateY(15px);
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.119);
    
}

.form-outline .fa-check {
    font-size: .7em;
    display: none;
    background-color: green;
    padding: .2em;
    border-radius: 3em;
    position: absolute;
    z-index: 20;
    transform: translateX(-30px) translateY(15px);
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.119);
    
}

.form-outline .fa-spin {
    /* display: none; */
    position: absolute;
    z-index: 20;
    /* transform: translateX(-30px) translateY(15px); */
    
}

#user{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

#emailicons.valid{
    display: inline;
}

#passicons.valid{
    display: inline;
}


#email.valid::placeholder{
    color: red;
}

#password.valid::placeholder{
    color: red;
}

#emailicon.valid{
    display: inline;
}

#email.valid{
    border: 1px solid red;
}


#passicon.valid{
    display: inline;
}

#password.valid{
    border: 1px solid red;
}


@media screen and (min-width:600px) {

    .container{
        background-color: whitesmoke;
        padding: 2em;
        width:35%;
        height: 110%;
        border: .5em;
    }


    .container input{
        width: 80%;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .icons{
        margin: 12% 34%;
    }

    .icons i{
        font-size: 1.5em;
    }

    .container a{
        margin-top: .1em;
        font-size: 1.3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .container h1{
        margin-bottom: 1em;
        margin-top: .5em;
    }

}