
.reveals{
    transform: scale(0.0)  translateX(-150px);
    opacity: 0;
}

.reveals.active{
    opacity: 1;
    transform: scale(1.0)  translateX(0px);
    transition:all 1s ease;
    transition: 1s;
}


.part1{
    color: whitesmoke;
    padding: 3em;
    margin-bottom: 2em;
    box-shadow: -.1em -.1em 1em rgba(0, 0, 0, 0.142);
    background-color: rgb(2,0,36);
    border-bottom-left-radius: 50em;
    border-bottom-right-radius: 50em;
  }

  .part1 h1{
    font-family: 'Courier New', Courier, monospace;
  }

  .part1 h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(245, 245, 245, 0.769);
  }


  .part1 p{
    font-style: italic;
    color: rgba(245, 245, 245, 0.523);
    font-size: 1.1em;
  }

  .part1 a{
    margin-top: 1em;
    font-weight: 900;
    padding: 1em;
    border: none;
    margin-bottom: 1em;
  }

  .part2{
    width: 99%;
    margin-bottom: 5em;
    padding: 2em;
  }

  .part2 .section1{
    position: relative;
    margin-top: 7em;
    width: 100%;
    height: 22em;
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: -.1em -.1em 1em rgba(0, 0, 0, 0.142);
    transition: .5s;
  }

  .part2 .section1:hover{
    transform: translateY(-15px);
    transition: .5s;
    cursor: pointer;
  }

  .part2 .buttons a{
    width: 10em;
    font-weight: 900;
  }

  .part2 .d-block{
    margin-top: 5em;
    margin-left: 1em;
    font-style: italic;
  }

  .part2 .extra{
   color: rgba(0, 0, 0, 0.311);
   font-style: italic;
  }

  .part2 .buttons{
    background-color: red;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .part2 .abs{
    position: absolute;
    width: 45%;
    height: 27%;
    transform: translateY(-50px)translateX(70px) rotate(-10deg );
    border-top-left-radius: 6em;
    border-bottom-right-radius: 10em;
    font-family: 'Courier New', Courier, monospace;
    padding: .9em;
  }

  .basic{
    color: whitesmoke;
  }

  .premium{
    background-color: green;
    color: whitesmoke;
  }

  .standard{
    color: black;
  }
  
  .medial{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
    padding: .5em;
    border-radius: 5em;
    z-index: 200;
    margin-bottom: .5em;
    margin-right: .5em;
  }




  
  @media screen and (min-width:600px) {
    .part1{
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
    }
  }