body{
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: none;
}

#body.valid{
    display: block;
}

nav{
    padding: 1em;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
}

nav .logo{
    font-size: 2em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

nav div li{
    margin-left: 2em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav img{
    width: 50px;
    border-radius: 1em;
}

.reveal{
    position: relative;
    /* transform: translateX(150px); */
    transform: scale(0.0)  translateX(-150px);
    opacity: 0;
}

.reveal.active{
    opacity: 1;
    transform: scale(1.0)  translateX(0px);
    transition:all 1s ease;
    transition: 1s;
}

.sec1 .col img{
    width: 300px;
    margin-top: 4em;
}

.sec1 .para{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.sec1 .demo{
    color: rgba(245, 245, 245, 0.603);
    position: absolute;
    transform: translateY(-25px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec2{
    width: 90%;
}

.sec2 .col img{
    width: 300px;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.sec1 svg{
    position: absolute;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
    width: 100%;
    z-index: 100;
    transform: translateX(-48px) translateY(-1px);
}

.sec1{
    margin-bottom: 5em;
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
}

.sec1 .row .head h2{
    color: rgba(245, 245, 245, 0.728);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sec1 .row .buttons .btn{
    border-bottom-left-radius: 1em;
    font-weight: 900;
    font-style: italic;
}

li{
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: 1em;
    color: grey;
    font-style: italic;
}

.sec2{
    padding-top: 5em;
}

.sec2 .head h2{
    margin-left: 1em;
    color:rgba(0, 0, 0, 0.703) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec2 .buttons .btn{
    margin: .5em;
}

.sec2 .buttons{
    margin-left: 1em;
}

.sec2 .buttons .social{
    border-radius: 3em;
}

.sec3{
    padding: 1em;
    background: rgb(19,20,20);
    background: linear-gradient(90deg, rgba(19,20,20,0.9530434782608695) 11%, rgba(16,81,223,1) 100%);
}

.sec3{
    text-align: center;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 5em;
    color: rgba(245, 245, 245, 0.674);
}

.sec3 h2{
    margin-top: 1em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.sec3 p{
    font-style: italic;
}

.sec3 .input{
    margin: 0 15%;
}

.sec3 input{
    width: 100%;
    display: block;
    margin-top: 1em;
    padding: .5em;
    border-radius: .5em;
    padding: 1em;
    border: none;
}

.sec3 .email-send{
    border-radius: 5em;
    padding: 1em;
    text-align: center;
    margin-top: 1.7em;
}

.carimage{
    margin-bottom: 5em;
}

.carimage img{
    width: 340px;
    margin: 1em;
}

.carindi{
    position: relative;
}

.sec4 .head{
    margin-left:7%;
    margin-bottom: 3em;
    margin-top: 5em;
}

.sec4 .head span{
    margin-left:30%;
    font-weight: 900;
    margin-bottom: 1em;
}

.sec4 .head h2{
    font-weight: 900;
    margin-top: .4em;
    color: rgba(25, 23, 23, 0.594);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec4 .carousel-caption{
    transform: translateY(-150px);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
}

.sec5{
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

.sec5 .section{
    box-shadow:inset .3em .3em 1em rgba(0, 0, 0, 0.212);
    border-radius: 1em;
    padding: 3em;
    text-align: center;
    margin-bottom: 2em;
    transition: .5s;
    height: 90%;
}

.sec5 .section:hover{
    cursor: pointer;
    transition: .5s;
    transform: translateY(-20px);
}

.sec5 .section p{
    color: grey;
    font-size: 20px;
    font-style: italic;
}

.sec5 .section h2{
    font-family: 'Courier New', Courier, monospace;
}

.sec5 .section span i{
    font-size: 40px;
    margin-bottom: .5em;
    color: blue;
}

.sec6{
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
    margin-bottom: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 5em;
}

.sec6 h2{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.sec6 p{
    font-size: 30px;
    color: rgba(245, 245, 245, 0.541);
    font-style: italic;
}

.sec6 a{
    width: 30%;
    margin-top: 1em;
}

.sec7 {
    margin-top: 10em;
    padding: 3em;
    background: rgb(19,19,20);
    background: linear-gradient(90deg, rgba(19,19,20,0.5975432409291841) 3%, rgba(18,84,107,1) 29%, rgba(18,88,130,0.7039858179599965) 47%, rgba(16,81,223,1) 100%);
}

.sec7 .head{
    color: whitesmoke;
    margin-bottom: 2em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.sec7 .col-head p{
    color: rgba(245, 245, 245, 0.461);
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1em;
}

.sec7 .col-head h2{
    text-align: center;
    color: rgba(249, 182, 182, 0.724);
    font-weight: 900;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec7 .input button{
    margin-top: 1em;
}

.sec7 .input input{
    padding: 1em;
    border: none;
    border-radius: .5em;
    display: block;
    width: 100%;
}

.sec7 .input{
    margin: 0 15%;
    text-align: center;
}


.sec7 span{
    display: block;
    margin-top: 2em;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.sec8{
    margin-top: 5em;
    padding: 2em;
}

.sec8 h2{
    color: rgba(15, 15, 197, 0.781);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-bottom: .5em;
    font-size: 22px;
}

.sec8 .section{
    width: 100%;
    padding: 1em;
}

.sec8 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.404);
    font-style: italic;
    margin-bottom: 2em;
}

.sec8 img{
    width: 100px;
}

.sec8 button{
    width: 50%;
    padding: 1em;
    font-weight: 900;
}

.sec9 {
    padding: 2em;
    margin-bottom: 3em;
}

.sec9 h2{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2em;
}

.sec9 .d-flex{
    border-bottom-right-radius: 5em;
    background: rgb(19,19,20);
    background: linear-gradient(90deg, rgba(19,19,20,0.5975432409291841) 3%, rgba(18,84,107,1) 29%, rgba(18,88,130,0.7039858179599965) 47%, rgba(16,81,223,1) 100%);
    padding: 2em;
    margin-bottom: 2em;
}

.sec9 .d-flex p{
    color: rgba(245, 245, 245, 0.584);
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.sec9 .d-flex .text-center span{
    color: whitesmoke;
    font-weight: 900;
    font-size: 25px;
    font-style: italic;
}

.sec9 i{
    font-size: 60px;
    transform: translateX(-360px);
}


.sec10{
    background-color: rgba(0, 255, 255, 0.53);
    padding: 2em;
}

.sec10 img{
    width: 70%;
    margin: 0 15%;
}

.sec10 .head{
    margin: 25% 5%;
}

.sec10 .head h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.sec10 .head p{
    text-align: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.482);
    font-style: italic;
}

.sec10 input{
    display: block;
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: .5em;
    outline: none;
}

.sec10 button{
    background-color: rgba(128, 128, 128, 0.895);
    display: block;
    width: 60%;
    padding: .5em;
    margin-top: 1em;
    font-weight: 900;
    transition: .5s;
}

#subscribe.valid{
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    transition: .5s;
}



footer{
    width: 100%;
    padding: 1em;
    position: absolute;
    box-shadow: -.1em -.1em 1em rgba(0, 0, 0, 0.142);
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-style: italic;
}

footer .d-flex {
    justify-content: space-evenly;
    width: 100%;
}

footer h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: rgb(206, 177, 16) underline;
}

footer .text-center{
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.648);
}

footer .icon{
    margin-top: 1em;
}

footer img{
    width: 50px;
    border-radius: 3em;
}









#bodys.valid{
    overflow: hidden;
}


#email-news.invalid{
    border: 2px solid red;
    outline: none;
}

.over{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.233);
    display: none;
}

.lay{
    margin: 65% 45%;
    font-size: 20px;
}

#over1.valid{
    display: block;
}

#over1.invalid{
    display: none;
}

#over2.valid{
    display: block;
}

#over2.invalid{
    display: none;
}



#modal1 button {
    font-weight: 900;
    padding: 1em;
    cursor: pointer;
    width: 50%;
    margin: 0 25%;
  }

#modal2 button , #modal2 a {
    font-weight: 900;
    padding: .5em;
    cursor: pointer;
    margin: .4em;
  }
  
  
  /* The Modal (background) */
 .popup .modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.409);
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
 .popup .modal-content {
    background-color: #fefefe;
    margin: 20% auto 15% auto;
    width: 80%; 
    padding: 1em;
    text-align: center;
    border-radius: .5em;
    
  }

  .popup .modal .modal-content #emailvalue1,.popup .modal .modal-content #emailvalue2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.546);
    font-weight: 900;
  }





  .medial{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
    padding: .5em;
    border-radius: 5em;
    z-index: 200;
    margin-bottom: .5em;
    margin-right: .5em;
  }


  .signH{
    position: relative;
  }
  .signH::after{
    display: none;
  }








  @media screen and (min-width:600px) {

    .signH::after{
        display: inline;
        position: absolute;
        content: "";
        width: 15%;
        height: 1px;
        background: rgba(255, 255, 255, 0.603);
        left: 15%;
        bottom: 5px;
        transition: all 0.4s ease-in-out;
      }
    
      .nav-item:hover .signH::after {
        width: 80%;
        left: 1;
        height: 4px;
    }
  

    .sec1 .col img{
        width: 500px;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .sec1 .buttons{
        margin-left: 5em;
        margin-top: 2em;
    }

    .sec1 .buttons button,.sec1 .buttons a{
        padding: 1em;
        width: 40%;
        margin-left: .5em;
    }

    .sec1 .demo{
        color: rgba(245, 245, 245, 0.603);
        border-bottom: 10px solid rgba(245, 245, 245, 0.603);
    }

    .sec1{
        margin-bottom: 13em;
    }

    .sec1 .para{
        margin-top: .5em;
        line-height: 40px;
        margin-bottom: 1em;
    }

    .sec2 .head h2{
        margin-left: 3em;
    }

    .sec1 .head .h2{
        margin-top: 1em;
    }
    
    .sec2 .buttons .btn{
        margin: 1.5em;
    }
    
    .sec2 .buttons{
        margin-left: 4em;
    }
    
    .sec2 .buttons .social{
        border-radius: 3em;
    }

    
    .sec2 .col img{
        width: 500px;
        margin-top: -1em;
    }

    .sec2 .soc{
        margin-left: 5em;
    }

    .sec3{
        font-size: 1.2em;
        text-align: center;
        border-bottom-right-radius: 0em;
        border-top-left-radius: 0em;
        color: rgba(245, 245, 245, 0.674);
    }

    
    .sec3 input{
        width: 80%;
        margin-left: 4em;
        outline: none;
    }

    .sec3 .spinner{
        position: relative;
        transform: translateY(-80px);
    }

    .sec5 .row .section{
        margin-top: 3em;
    }

    .popup .modal-content {
        background-color: #fefefe;
        margin: 10% auto 15% auto;
        width: 30%; 
        padding: 1em;
        text-align: center;
        border-radius: .5em;
        
    }

    .lay{
        margin: 25% 45%;
    }
    

    
    .sec4{
        display: none;
    }
    
    .sec1 svg{
        position: absolute;
        background-color: rgba(41, 41, 217, 0.568);background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.8804564061952906) 19%, rgba(0,212,255,1) 100%);
        width: 100%;
        z-index: 100;
        transform: translateX(-48px) translateY(0px);
    }
    
    
  }





